[submodule "3p/src/benchmark"]
	path = 3p/src/benchmark
	url = https://github.com/google/benchmark.git
	branch = master
[submodule "3p/src/hopscotch-map"]
	path = 3p/src/hopscotch-map
	url = https://github.com/Tessil/hopscotch-map.git
	branch = master
